@import "catppuccin/mocha.css";

/* =============================== */
/* Universal Styling */
* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 14px;
    min-height: 0;
}

/* =============================== */


/* =============================== */
/* Bar Styling */
#waybar {
    background: transparent;
    color: @text;
    margin-top: 5px;
}

/* =============================== */


/* =============================== */
/* Workspaces */
#workspaces {
    border-radius: 1rem;
    margin-top: 5px;
    margin-right: -10px;
    /*background-color: @surface0;*/
    margin-left: 0.5rem;
}

#workspaces button {
    background-color: @surface0;
    color: @lavender;
    border-radius: 1rem;
    margin: 0px 0.5rem;
    padding: 0px 0.7rem;
    transition: all 0.25s cubic-bezier(0.33, 1.0, 0.68, 1.0);
    /* easeInOutCubic */
}

#workspaces button.active {
    color: @mauve;
    border-radius: 1rem;
    padding: 0rem 1.2rem;
}

#workspaces button:hover {
    color: @mauve;
    border-radius: 1rem;
}

/* =============================== */


/* =============================== */
/* Main Modules */
#window,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#mpd,
#cpu,
#memory,
#disk,
#temperature,
#custom-music,
#custom-launcher,
#custom-updates,
#custom-nordvpn,
#custom-notifications,
#custom-power,
#custom-weather {
    background-color: @surface0;
    color: @text;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 5px;
}

/* =============================== */


/* =============================== */
/* System Monitoring Modules */
#cpu,
#memory,
#temperature {
    color: @blue;
}

#disk {
    color: @peach;
}

/* =============================== */

/* =============================== */
/* Clock Module */
#clock {
    color: @blue;
    margin-right: 1rem;
}

/* =============================== */


/* =============================== */
/* Battery Module */
#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @maroon;
}

#battery.critical:not(.charging) {
    color: @red;
}

/* =============================== */


/* =============================== */
/* Backlight Module */
#backlight {
    color: @yellow;
    padding-right: 1.25rem;
}

/* =============================== */


/* =============================== */
/* Network Module */
#network {
    color: @mauve;
    padding-right: 1.25rem;
}

/* =============================== */


/* =============================== */
/* PulseAudio Module */
#pulseaudio {
    color: @peach;
    padding-right: 1.20rem;
}

/* =============================== */

/* =============================== */
/* |       Custom Modules        | */
/* =============================== */
/* Music/PlayerCTL Module */
#custom-music {
    color: @mauve;
    border-radius: 1rem;
    margin-left: 1rem;
}

/* Launcher Module */
#custom-launcher {
    color: @mauve;
    border-radius: 1rem;
}

/* Updates Module */
#custom-updates {
    color: @sky;
}

/* Powermenu Module */
#custom-power {
    color: @mauve;
    margin-right: 1rem;
    padding-right: 1.20rem;
}

/* Notifications Module */
#custom-notifications {
    color: @mauve;
    border-radius: 1rem;
    padding-right: 1.25rem;
}

/* =============================== */